= render 'user-header'
- if flash[:notice]
  .flash-message-notice
    = flash[:notice]
.section
  .hero-body
    .container{ style: "padding: 0 80px;"}
      = form_with model: @user, local: true do |f|
        .box.columns
          .submenu.column.is-3{ style: "border-right: solid 1px #eee;"}
            = render 'user-edit-sidebar'
          .column
            .nav
              .nav-left
              .nav-center
                .nav-item{ style: "margin-bottom: 20px;"}
                  .title.is-2 Edit Profile
              .nav-right

            .nav
              .nav-left
                .nav-item.right-contents
                  .label Acountname
              .nav-center
                .nav-item
                  = f.text_field :nickname, class: "input", placeholder: "例）たろやん", type: "text", style: "width: 350px;"
              .nav-right
            .nav
              .nav-left
                .nav-item.right-contents
                  .label Name
              .nav-center
                .nav-item
                  = f.text_field :lastname_kanji, class: "input", placeholder: "例）山田 太郎", type: "text", style: "width: 350px;"
              .nav-right

            .nav
              .nav-left
                .nav-item.right-contents
                  .label Biography
              .nav-center
                .nav-item
                  = f.text_field :profile_text, class: "input", placeholder: "例）よろしくお願いします", type: "text", style: "width: 350px;"
              .nav-right

            .columns.is-mobile
              .column
              .column
                -# = f.label :profile_image, title: "クリックして画像選択" do
                - if @user.profile_image.blank?
                  %figure.image
                    = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "profile-image", style: "height: 300px; width: 250px; margin-top: 20px;", id: "myimg_prev"
                - else
                  %figure.image
                    = image_tag @user.profile_image.url, class: "profile-image", style: "height: 300px; width: 250px;", id: "myimg_prev"
                = f.file_field :profile_image, id: "myimg_change"
              .column
            .nav
              .nav-left
              .nav-center
                .nav-item
                  = f.submit class: "button is-success is-outlined"
              .nav-right

= render 'shared/footer'