= render 'user-header'
.section
  .hero-body
    .container{ style: "padding: 0 80px;"}
      = form_with model: @user, local: true do |f|
        .box.columns
          .submenu.column.is-3{ style: "border-right: solid 1px #eee;"}
            = render 'user-edit-sidebar'
          .column
            .nav
              .nav-left
              .nav-center
                .nav-item{ style: "margin-bottom: 20px;"}
                  .title.is-2{ style: "margin-left: 40px;"} Edit Password
              .nav-right.is-2

            .nav
              .nav-left
              .nav-right
                .nav-item
                  .label Current Password
                .nav-item
                  = f.text_field :current_password, class: "input", type: "text", style: "width: 350px;"
            .nav
              .nav-left
              .nav-right
                .nav-item
                  .label New Password
                .nav-item
                  = f.text_field :password, class: "input", placeholder: "6文字以上", type: "text", style: "width: 350px;"

            .nav
              .nav-left
              .nav-right
                .nav-item
                  .label New Password, again
                .nav-item
                  = f.text_field :password_confirmation, class: "input", placeholder: "6文字以上", type: "text", style: "width: 350px;"
            .nav
              .nav-left
              .nav-right
                .nav-item
                .nav-item
                  = f.submit class: "button"

          .column.is-2

= render 'shared/footer'
