<div class="form-field", style="width: 400px; margin: 0 auto;">
  <hr>
  <h2 class="title has-text-centered">ログイン</h2>
    <div class="has-text-centered">
      <span>※アカウント登録がまだの方はこちら→<%= render "devise/shared/links" %></span>
    </div>
  <hr style= "margin-top: 10px;">

  <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>

    <div class="field", style="margin-bottom: 20px;">
      <%= f.label "メールアドレス" , class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "XXX@aaa.com など", class: "input" %>
    </div>

    <div class="field", style="margin-bottom: 40px;">
      <%= f.label "パスワード" , class: "label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
      <div class="login-error-message">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
      </div>
    </div>

    <div class="actions has-text-centered">
      <%= f.submit "ログイン", class: "button is-warning is-medium" %>
    </div>
  <% end %>
</div>
